body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f4f4f4;
  color: #2a2a2a;
  scroll-behavior: smooth;
}

/* header */

header nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: rgb(22, 21, 21);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

header nav .logo{
  font-size: 35px;
  font-weight: 700;
  color: #7d0301;
  cursor: pointer;
  position: relative;
  left: -4;
}

header nav .logo span{
  color: white;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  margin: 5px 15px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.3s;
}

header nav ul li a:hover{
  color: #7d0301;
}

header nav .icons i{
  color: white;
  margin: 0 4px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

header nav .icons i:hover{
  color: #7d0301;
}

header nav .icons{
  position: relative;
}


.items-count{
  position: absolute;
  font-size: 11px;
  background-color: rgb(174, 35, 35);
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  top: -10px;
  right: 20px;
}

/* end header*/

/* men section */

.products{
  width: 100%;
  height: 140vh;
  padding: 25px 0;
}

.products h1{
  margin: 35px 0;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-shadow: 10px 5px 5px rgb(171, 54, 54);
}

.products .box{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px 0;
}

.products .box .product-card{
  width: 290px;
  height: 360px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  background: white;
  box-shadow: 10px 5px 5px rgb(171, 54, 54);
}

.products .box .product-card .product-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .box .product-card .product-image img{
  width: 150px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.products .box .product-card .product-image img:hover{
  transform:  scale(1.1);
}

.products .box .product-card .product-info{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.products .box .product-card .product-info .product-price{
  font-size: 18px;
  font-weight: 700;
}

.products .box .product-card .product-size-text{
  font-size: 17px;
  font-weight: 700;
  margin-left: 5px;
}



.products .box .product-card .product-info .product-size-container{
  margin-left: 10px;
  font-size: 12px;
}

.product-size-container select {
  padding: 4px 8px;
  border: 1px solid rgba(205, 17, 17, 0.904);
  border-radius: 5px;
  background-color: white;
  color: black;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-size-container select:hover {
  border-color: #e86464;
}

.products .box .product-card .product-text{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
  transition: 0.3s;
}

.products .box .product-card .product-text:hover{
  text-decoration: underline;
}

.products .box .product-card .add-btn{
  color: white;
  background: black;
  margin-top: 25px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}

.products .box .product-card .add-btn:hover{
  background-color: rgb(50, 47, 47);
}












