{% extends "base.html" %}

{% block title %}Speedy{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='slider.css') }}">
{% endblock %}

{% block body %}

  <!--slider-->
  <section class="container">
    <div class="slider-wrapper">
      <div class="slider">
        <img id="slide-1" src="../static/images-slider/shoes-nb1.jpg" alt="red nick shoes">
        <img id="slide-2" src="../static/images-slider/shoes-nb2.jpg" alt="pike nike shoes">
        <img id="slide-3" src="../static/images-slider/shoes-nb3.jpg" alt="black nike shoes">
        <img id="slide-4" src="../static/images-slider/shoes-nb4.jpg" alt="yellow nike shoes">
      </div>
      <div class="slider-nav">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
        <a href="#slide-4"></a>
      </div>
    </div>
  </section>
  <!--slider-->

  <!--Men section-->

  <div class="products" id="Men">
    <h1>Men Section</h1>
    <div class="box">
      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes1.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $120
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Yellow Nike Blaze
        </div>
        <button class="add-btn">Add to cart</button>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes2.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $80
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Nike Monochrome Glide
        </div>
        <button class="add-btn">Add to cart</button>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes3.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $95
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Nike Neon Sprint
        </div>
        <button class="add-btn">Add to cart</button>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes4.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $100
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Nike Steel Streak
        </div>
        <button class="add-btn">Add to cart</button>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes5.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $220
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Nike Orange Flash
        </div>
        <button class="add-btn">Add to cart</button>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes6.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $110
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Retro Kick
        </div>
        <button class="add-btn">Add to cart</button>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes7.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $180
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Nike Aqua Pulse
        </div>
        <button class="add-btn">Add to cart</button>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="../static/shoes-images/men-shoes8.png">
        </div>
        <div class="product-info">
          <div class="product-price">
            $140
          </div>
          <p class="product-size-text">
            Size:
          </p>
          <div class="product-size-container">
            <select>
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="product-text">
          Gray Ghost
        </div>
        <button class="add-btn">Add to cart</button>
      </div>
    </div>
  </div>

  <!-- end Men section-->

  <!-- women section-->

  
  <!-- end women section-->




  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
